<center>

<h1> UPDATE BOOKMARK: <%= @bookmark_name %> </h1>

<form action="/bookmarks/<%= @bookmark_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  url : <input type="text" name="url"><br>
  <br>
  title : <input type="text" name="title"><br>
  <br>
  <input type="submit" value="Update">

</form>
